<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ink.akira.duplicateRequest.dao.AkiraDAO">
    <insert id="insertBook">
        INSERT INTO user_book(user_id, book_id) VALUE (#{userId}, #{bookId})
    </insert>
    <select id="getUserBook" resultType="ink.akira.duplicateRequest.pojo.UserBook">
        SELECT * FROM user_book WHERE user_id = #{userId} AND book_id = #{bookId}
    </select>
</mapper>